<html>
    <head>
        <title>Withinstory</title>
        <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/json2.js"></script>
        <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
        <script src="{{ STATIC_URL }}js/backbone-min.js"></script>
        <script src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>
    </head>
    <body>
        <script>
            var auth;
            var username;
            var useruri;
            var apiUrl = '/api/v1/';

            $(function(){
                {% include 'models.js' %}
                {% include 'views.js' %}
                {% include 'routers.js' %}
                {% include 'getapikey.js' %}                
                });
        </script>
        <a href="/">Home</a>
        <div id="login"></div>
        <a href="#/story/new/">New Story</a>
        <div id="content"></div>
    </body>
</html>
